/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    background-color: #F2F2F2;
}

h1, h2, h3, h4 {
	font-family: 'Patua One', cursive;
}


/* NAVBAR
 -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-brand {
	font-family: 'Patua One', cursive;
}

/* FOOTER
 -------------------------------------------------- */

footer {
	background: #222222;
	padding-bottom: 40px;
	padding-top: 20px;
	color: white;
}

/* CAROUSEL - HOME
 -------------------------------------------------- */

/* Carousel base class */
.carousel-outer {
    margin-top: 50px;
	margin-bottom: 50px;
	background-color: #fcab26;
	color: white;
}

.carousel {
    height: 400px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.carousel-side {
	padding: 15px;
	text-align: center;
}

/* MARKETING - HOME
 -------------------------------------------------- */

/* Center align the text within the four columns below the carousel */
.marketing .col-lg-3 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-3 p {
    margin-right: 10px;
    margin-left: 10px;
}

.marketing .inner {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
	margin-bottom: 20px;
}





.btn-my-blue {
	color: white;
	background-color: #68b2b1;
	
}

.btn-my-blue:hover, .btn-my-blue:focus {
	color: white;
	background-color: #408a8a;
}

.btn-my-orange {
	color: white;
	background-color: #cd8129;
}

.btn-my-orange:hover, .btn-my-orange:focus {
	color: white;
	background-color: #a55901;
}


/* RESPONSIVE CSS
 -------------------------------------------------- */

@media (min-width: 768px) {
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    
    .carousel-outer {
		padding-right: 15px;
	}
	.carousel-side {
		margin-right: 15px
	}
	
	.navbar-brand {
		font-family: 'Patua One', cursive;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 40px;
		font-size: 28px;
	}
	/*
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
		border-style: none none solid none;
    	border-width: 5px;
	}
	*/
}